[Unit]
Description=My nodejs driven simple service
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User={{ remote_user }}
Group={{ remote_user }}

Type=simple

WorkingDirectory={{ backend_app_root }}
ExecStart=node novikov-backend-app.js
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
